<div class="card col-lg-3 col-md-4 col-sm-12 p-0 m-3">
    <!-- Campaign id -->
     #1
    <img src="/images/dashboard/defores.png" class="card-img-top" alt="..." width="300" height="300"  >
    <div class="card-body">
        <h5 class="card-title">Say no to axing trees for Hebbal Nagawara Valley Project</h5>
        <p class="card-text">Description</p>
        <!-- Campaign id #1 -->
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>