<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center
        justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0
            text-dark text-decoration-none">
            <img width="50%" src="/images/index/uphar_logo.png" alt="" />
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/campaign" class="nav-link px-2 link-dark">Campaigns</a></li>
            <li><a href="/about" class="nav-link px-2 link-dark">About Us</a></li>
            <li><a href="/contact" class="nav-link px-2 link-dark">Contact Us</a></li>
            <li><a href="/karma" class="nav-link px-2 link-dark">Leaderboard</a></li>
            <li><a href="/payment" class="nav-link px-2 link-dark">Donate</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Login/Sign-up</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel"   aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body d-flex justify-content-center">
                        <div class="container mt-4 d-flex justify-content-center">
                            <div class="row d-flex justify-content-around">
                                <!--volunteer-->
                                <div class="col-lg-4 col-md-5 col-sm-6">
                                  <div class="card mb-3">
                                    <img class="card-img-top img-responsive img-fluid" style="width: 286px; height: 200px;" src="images/login_signup/volunteer.jpg" alt="volunteer">
                                    <div class="card-body">
                                      <h5 class="card-title">Volunteer</h5>
                                      <p class="card-text">Be a part of UPHAAR</p>
                                      <a href="./volunteer" class="btn btn-primary d-block mx-auto">Login</a>
                                    </div>
                                    </div>
                                  </div>
                                <!--campaigner-->
                                <div class="col-lg-4 col-md-5 col-sm-6">
                                  <div class="card mb-3">
                                    <img class="card-img-top img-responsive img-fluid" style="width: 286px; height: 200px;" src="images/login_signup/campaigner.jpg" alt="campaigner">
                                    <div class="card-body">
                                      <h5 class="card-title">Campaigner</h5>
                                      <p class="card-text">I deal with petitions.</p>
                                      <a href="./campaigner" class="btn btn-primary d-block mx-auto">Login</a>
                                    </div>
                                    </div>
                                  </div>
                                <!--admin-->
                                <div class="col-lg-4 col-md-5 col-sm-6">
                                  <div class="card mb-3">
                                    <img class="card-img-top img-responsive img-fluid" style="width: 286px; height: 200px;" src="images/login_signup/admin.png" alt="admin">
                                    <div class="card-body">
                                      <h5 class="card-title">Admin</h5>
                                      <p class="card-text">I am the super user.</p>
                                      <a href="./adminLogin" class="btn btn-primary d-block mx-auto">Login</a>
                                    </div>
                                    </div>
                                  </div>
                        
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>