<%-include('./partials/header')%>



<title>Home</title>
</head>

<body>

  

<%-include('./partials/navbar')%>

  <main class="container">

    <div class="row mt-5 main">
      <div class="col-md-6 d-flex justify-content-center flex-1 flex-column">

        <h1 class="display-3  mt-5 text-primary animate__animated animate__backInLeft">Welcome Campaigners!</h1>
        <p class="font-monospace mt-2 animate__animated animate__backInLeft">Are you willing to participate and contribute to various campaigns undertaken at "UPHAAR"?</p>
        <p class="font-monospace mt-2 animate__animated animate__backInLeft">Come join us and be an "UPHAAR" for millions of people!!</p>
        <img class="google-play-img  animate__animated animate__backInLeft" src="/images/camp.png" alt="">
      </div>
      <div class="col-md-6 ">
        <div class="phone-image mt-3">
            <figure>
               <!-- <img src="images/test_img.PNG" alt="Test Image"/>-->
          <img src="images/3545757.jpg" alt=" " class="img-fluid animate__animated animate__backInRight">
        </figure>
        </div>
      </div>
    </div>

  </main>



  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://jhatkaa.org/app/themes/jhatkaa-timber-theme/static/_img/hwitwrks_1.png"
          alt="Generic placeholder image" width="140" height="140">
        <h2>Goal 1</h2>
        <p>
          Identify demand and decision maker
          What is the specific change and who has the power to make it
        <p><a class="btn btn-outline-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://jhatkaa.org/app/themes/jhatkaa-timber-theme/static/_img/hwitwrks_1.png"
          alt="Generic placeholder image" width="140" height="140">
        <h2>Goal 2</h2>
        <p>Mobilize citizens to take action

          from signing petitions, to calling decision-makers, joining events, etc</p>
        <p><a class="btn btn-outline-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://jhatkaa.org/app/themes/jhatkaa-timber-theme/static/_img/hwitwrks_1.png"
          alt="Generic placeholder image" width="140" height="140">
        <h2>Goal 3</h2>
        <p>Engage with decision-makers

          Get them to understand the benefits of implementing the change</p>
        <p><a class="btn btn-outline-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto rounded rounded-5 shadow-sm" src="https://picsum.photos/300/300"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto rounded rounded-5 shadow-sm" src="https://picsum.photos/300/300"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
          commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto rounded rounded-5 shadow-sm" src="https://picsum.photos/300/300"
          alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">


  </div>



    <main role="main">

        <section class="jumbotron text-center bg-danger text-white mx-5  p-5 rounded rounded-5 shadow-sm">
          <div class="container px-5">
            <h1 class="jumbotron-heading text-white">Running Campaigns</h1>
            <p class="lead text-white px-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis,
              totam tenetur
              quasi commodi repudiandae dolorem beatae quidem natus qui? Ut id est reprehenderit nam harum facilis similique
              natus mollitia ex.
            <p>
              <a href="#" class="btn btn-outline-info text-white my-2">Visit Old Campaigns</a>
            </p>
          </div>
        </section>
    
        <div class="album py-5 bg-light">
          <div class="container">
    
            <div class="row">
    
    
    
              <div class="col-md-4">
                <a href="/cdetail" target="_blank" rel="noopener noreferrer">
                  <div class="card mb-4 box-shadow animate__animated animate__fadeIn">
                    <img class="card-img-top" src="/images/index/logo.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 mt-2 text-muted">Added on 5/6/20 at 5:00pm</h6>
    
                      <p class="card-text">Demand Ministry of Social Justice and Empowerment to roll back new revisions to
                        the
                        National Overseas Scholarship scheme</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary px-2">
                            <i class="fa fa-thumbs-up"></i> </button>
                          <button type="button" class="btn btn w-100 btn-outline-danger px-2 mx-1">
                            <i class="fa fa-heart"></i> </button>
                          </button>
                        </div>
                        <small class="text-muted">Only 9 hours left</small>
                      </div>
    
                      <a href="/campaigns-details.html" class="btn btn-info w-100 mt-2 btn-block btn-danger">Support Now</a>
    
                    </div>
                  </div>
                </a>
              </div>
    
    
              <div class="col-md-4">
                <a href="/cdetail2" target="_blank" rel="noopener noreferrer">
                  <div class="card mb-4 box-shadow animate__animated animate__fadeIn">
                    <img class="card-img-top" src="/images/index/logo.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 mt-2 text-muted">Added on 5/6/20 at 5:00pm</h6>
    
                      <p class="card-text">Save the Earth Now Campaign and its SED 20-30 Demand</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary px-2">
                            <i class="fa fa-thumbs-up"></i> </button>
                          <button type="button" class="btn btn w-100 btn-outline-danger px-2 mx-1">
                            <i class="fa fa-heart"></i> </button>
                          </button>
                        </div>
                        <small class="text-muted">Only 9 hours left</small>
                      </div>
    
                      <a href="/campaigns-details.html" class="btn btn-info w-100 mt-2 btn-block btn-danger">Support Now</a>
    
                    </div>
                  </div>
                </a>
              </div>
    
    
              <div class="col-md-4">
                <a href="/campaigns-details.html" target="_blank" rel="noopener noreferrer">
                  <div class="card mb-4 box-shadow animate__animated animate__fadeIn">
                    <img class="card-img-top" src="/images/index/logo.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 mt-2 text-muted">Added on 5/6/20 at 5:00pm</h6>
    
                      <p class="card-text">Demand Ministry of Social Justice and Empowerment to roll back new revisions to
                        the
                        National Overseas Scholarship scheme</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary px-2">
                            <i class="fa fa-thumbs-up"></i> </button>
                          <button type="button" class="btn btn w-100 btn-outline-danger px-2 mx-1">
                            <i class="fa fa-heart"></i> </button>
                          </button>
                        </div>
                        <small class="text-muted">Only 9 hours left</small>
                      </div>
    
                      <a href="/campaigns-details.html" class="btn btn-info w-100 mt-2 btn-block btn-danger">Support Now</a>
    
                    </div>
                  </div>
                </a>
              </div>
    
    
              <div class="col-md-4">
                <a href="/campaigns-details.html" target="_blank" rel="noopener noreferrer">
                  <div class="card mb-4 box-shadow animate__animated animate__fadeIn">
                    <img class="card-img-top" src="/images/index/logo.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 mt-2 text-muted">Added on 5/6/20 at 5:00pm</h6>
    
                      <p class="card-text">Demand Ministry of Social Justice and Empowerment to roll back new revisions to
                        the
                        National Overseas Scholarship scheme</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary px-2">
                            <i class="fa fa-thumbs-up"></i> </button>
                          <button type="button" class="btn btn w-100 btn-outline-danger px-2 mx-1">
                            <i class="fa fa-heart"></i> </button>
                          </button>
                        </div>
                        <small class="text-muted">Only 9 hours left</small>
                      </div>
    
                      <a href="/campaigns-details.html" class="btn btn-info w-100 mt-2 btn-block btn-danger">Support Now</a>
    
                    </div>
                  </div>
                </a>
              </div>
    
    
              <div class="col-md-4">
                <a href="/cdetail.ejs" target="_blank" rel="noopener noreferrer">
                  <div class="card mb-4 box-shadow animate__animated animate__fadeIn">
                    <img class="card-img-top" src="/images/index/logo.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 mt-2 text-muted">Added on 5/6/20 at 5:00pm</h6>
    
                      <p class="card-text">Demand Ministry of Social Justice and Empowerment to roll back new revisions to
                        the
                        National Overseas Scholarship scheme</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary px-2">
                            <i class="fa fa-thumbs-up"></i> </button>
                          <button type="button" class="btn btn w-100 btn-outline-danger px-2 mx-1">
                            <i class="fa fa-heart"></i> </button>
                          </button>
                        </div>
                        <small class="text-muted">Only 9 hours left</small>
                      </div>
    
                      <a href="/cdetail.ejs" class="btn btn-info w-100 mt-2 btn-block btn-danger">Support Now</a>
    
                    </div>
                  </div>
                </a>
              </div>
    
    
              <div class="col-md-4">
                <a href="/campaigns-details.html" target="_blank" rel="noopener noreferrer">
                  <div class="card mb-4 box-shadow animate__animated animate__fadeIn">
                    <img class="card-img-top" src="/images/index/logo.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 mt-2 text-muted">Added on 5/6/20 at 5:00pm</h6>
    
                      <p class="card-text">Demand Ministry of Social Justice and Empowerment to roll back new revisions to
                        the
                        National Overseas Scholarship scheme</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-primary px-2">
                            <i class="fa fa-thumbs-up"></i> </button>
                          <button type="button" class="btn btn w-100 btn-outline-danger px-2 mx-1">
                            <i class="fa fa-heart"></i> </button>
                          </button>
                        </div>
                        <small class="text-muted">Only 9 hours left</small>
                      </div>
    
                      <a href="/campaigns-details.html" class="btn btn-info w-100 mt-2 btn-block btn-danger">Support Now</a>
    
                    </div>
                  </div>
                </a>
              </div>
    
    
              
  
    
    
            </div>
          </div>
        </div>
    
      </main>
    
 
      <%-include('./partials/footer')%>   
      
    
    </body>
    
    </html>
