<%-include('./partials/header')%>
  <title>Home</title>
</head>

<body>


    <%-include('./partials/navbar')%>


  <div class="jumbotron p-3 row p-md-5 text-white rounded bg-danger">
    <div class="col-md-6">
      <h1 class="display-4 font-italic">Need your Support</h1>
      <p class="lead my-3">
        Save the Earth Now Campaign and its SED 20-30 Demand
      </p>
      <p class="lead mb-0 btn btn-info"><a href="#" class="text-white font-weight-bold">Support Now</a></p>

    </div>
    <div class="col-md-6">
      <img
        src="images/Env.jpg"
        alt="" class="img-fluid card-img-top">
    </div>
  </div>



  <main role="main" class="container mt-5">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          About Campaigns
        </h3>

        <div class="blog-post mb-5">

          <p>
            
            All aims of this campaign are sought to be realised within a framework of justice, peace and democracy at three levels.

Wider Aim To protect and save the life-nurturing, life-sustaining conditions of planet Earth (within the framework of justice, democracy and peace).
Specific Aims
(i)    Elimination of all nuclear weapons and all weapons of mass destruction.
(ii)   Restricting global warming to 1.50 C.
(iii)  Others aims considered crucial for the wider aim, to be specified from time to time.

Immediate Aim
World-level declaration of 2020-30 as the 'Decade for Saving Earth', signifying highest priority for the objective of protecting and saving the life-nurturing conditions of planet earth. In brief this immediate aim is called SED 20-30.

Basic Statement

Keeping in view the increasing serious threats to the life sustaining conditions of earth and the need to find time-bound solutions on most urgent basis within the framework of justice, peace and democracy, the decade 2020-30 should be declared 'Save the Earth Decade’. This will help to focus attention on the foremost issue - that it is of the greatest urgency today to protect the life sustaining conditions of planet earth.

It needs to be established clearly that saving the basic life-nurturing, life-sustaining conditions of earth is the most urgent task and this should be accomplished within a framework of justice, peace and democracy. All the issues of world should be taken up with this as the central, basic aim.


          </p>


        </div>



      </div>

      <div class="col-md-4">
        <p class="text-primary mt-4 text-center">Need more 500 signature</p>

        <form class="card card-body rounded bg-gray">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recieve Future Notification</label>
          </div>

          <button type="submit" class="btn btn-danger">SignIn Petition</button>
        </form>

      </div>
    </div>
  </main>
  <div class="text-center">

    <div class="container card card-body w-50">
      <h2 class="text-center text-danger">Events</h2>
      <p class="text-center muted">Users who had recently supported this campaigs</p>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>



    </div>

  </div>




  <%-include('./partials/footer')%>   

</body>

</html>