<%-include('./partials/header')%>
  <title>Home</title>
</head>

<body>


    <%-include('./partials/navbar')%>


  <div class="jumbotron p-3 row p-md-5 text-white rounded bg-danger">
    <div class="col-md-6">
      <h1 class="display-4 font-italic">Need your Support</h1>
      <p class="lead my-3">
        Demand Ministry of Social Justice and Empowerment to roll back new revisions to the National Overseas
        Scholarship scheme
      </p>
      <p class="lead mb-0 btn btn-info"><a href="#" class="text-white font-weight-bold">Support Now</a></p>

    </div>
    <div class="col-md-6">
      <img
        src="images/Scholar.png"
        alt="" class="img-fluid card-img-top">
    </div>
  </div>



  <main role="main" class="container mt-5">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
          About Campaigns
        </h3>

        <div class="blog-post mb-5">

          <p>
            “Sensitive topics of research — particularly within the social sciences and humanities — are restricted
            under the garb of national security. This further closes off options for all students seeking a social
            science education, and of course, the revisions to the NOS scheme make it worse for students from oppressed
            castes. “

            -The Wire



            On 20th February, 2022, an article in The Swaddle reported reported that the Ministry of Social Justice and
            Empowerment which provides funds for students belonging to Scheduled Caste (SC), Scheduled Tribes (ST), and
            landless agricultural laborer families under the National Overseas Scholarship (NOS) Scheme excluded a major
            portion of the humanities and social sciences close to the deadline for scholarship, without any prior
            intimation or discussion with scholars.



            This move is evaluated to set back the marginalized communities in academia even further as historically,
            marginalised groups have always endured implicit and explicit discrimination on Indian campuses. An overseas
            PhD degree not only offered them a chance of securing a faculty position at an elite Indian institution, but
            also helped them escape the “lack of merit” tag they endure daily because of reservations even when a
            scholar has not availed those benefits.



            “The decision of the government is drawing flak — not just because the announcement of the exclusion has
            come so close to the application deadline, but also because it was made without any public consultation on
            how it could impact students whose educational prospects are at stake. Moreover, given that the scheme
            applies only to marginalized students, the revision, too, shall affect their prospects alone — restricting
            their career choices, and putting them at a disadvantage against non-marginalized students who can afford
            the same degrees for themselves.”

            -The Swaddle



            It’s time to unite and stand for academia, and scholarship of the marginalized. We demand that-



            The Minister of Social Justice and Empowerment, reinstate these scholarships and provide funds for students
            from SC, ST communities and landless agricultural labourer families under the National Overseas Scholarship
            (NOS) Scheme.



            A special committee to be created consisting of academicians and student leaders to discuss such changes in
            the scholarship scheme for the future.



            Stand in solidarity with scholars from historically marginalised communities and sign the petition.



            Sources-

            Centre Withdraws Scholarships for Marginalized Students Looking to Study About India’s History, Culture
            Abroad- The Swaddle

            Govt bars scholarships for studying Indian subjects abroad- The Indian Express

            Why Exclude SC Students Wanting to Study ‘Indian’ Topics Abroad from National Scholarship?- The Wire


          </p>


        </div>



      </div>

      <div class="col-md-4">
        <p class="text-primary mt-4 text-center">Need more 500 signature</p>

        <form class="card card-body rounded bg-gray" action="/citizen" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="phone">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recieve Future Notification</label>
          </div>

          <button type="submit" class="btn btn-danger">SignIn Petition</button>
        </form>

      </div>
    </div>
  </main>
  <div class="text-center">

    <div class="container card card-body w-50">
      <h2 class="text-center text-danger">Events</h2>
      <p class="text-center muted">Users who had recently supported this campaigs</p>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
          <img src="https://picsum.photos/id/1025/100/100" class="media-object rounded" style="width:60px">

        </div>
        <div class="col-md-11">
          <h4 class="text-danger">User Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
        </div>
      </div>



    </div>

  </div>




  <%-include('./partials/footer')%>   

</body>

</html>