
<%-include('./partials/header')%>
<!-- <link rel="stylesheet" href="stylesheets/style.css"/> -->

</head>
<body>

<%-include('./partials/navbar')%>

    <div id="carouselExampleSlidesOnly" class="carousel slide"
        style="z-index: -2;"
        data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/index/carousel.png" class="d-block w-100"
                    alt="...">
            </div>
        </div>
    </div>
    <div class="container bg-white shadow border p-4 pt-5"
        style="margin-top: -50px;">
        <h4 class="text-center">HOW WE WORK</h4>
        <div class="d-flex justify-content-center">
            <hr width="50%" />
        </div>
        <br>
        <div class="container row d-flex py-4 justify-content-center">
            <div class="row">
                <div class="col-5 p-2">
                    <img src="/images/index/img1.png" class="float-end">
                </div>
                <div class="col-7 p-4 pe-5 d-flex flex-column
                    justify-content-center">
                    <h6>Identify demand and decision maker</h6>
                    <p>What is the specific change and who has the power to
                        make it</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7 p-4 pe-5 d-flex flex-column
                    justify-content-center text-end">
                    <h6>Mobilize citizens to take action</h6>
                    <p>from signing petitions, to calling decision-makers, joining events, etc</p>
                </div>
                <div class="col-5 p-2">
                    <img src="/images/index/img2.png" class="float-start">
                </div>
            </div>
            <div class="row">
                <div class="col-5 p-2">
                    <img src="/images/index/img3.png" class="float-end">
                </div>
                <div class="col-7 p-4 pe-5 d-flex flex-column
                    justify-content-center">
                    <h6>Engage with decision-makers</h6>
                    <p>Get them to understand the benefits of implementing the change</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-2 d-flex justify-content-center">
                    <img src="/images/index/img4.png">
                </div>
                <h3 class="text-center">Create Impact</h3>
            </div>
        </div>

    </div>


    <%-include('./partials/footer')%>